@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* CSS for full desktop screen */
/* --------------------------------------------- */
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: auto;
    height: auto;
    background-color: #282346;
}

.navBar h1 {
    position: relative;
    right: 64%;
    top: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

.navBar button {
    width: 100px;
    height: auto;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
    border-radius: 38px;
    transition: all 0.5s ease-in-out;
    transform: scale(0.8);
}

/* .navBar button:hover {
    transform: scale(1);
    color: rgb(17, 80, 135)
}

.navBar button:active {
    background-color: #004cff; 
} */
/* ------------------------------------------ */


/* CSS for mobile screen */

/* ---------------------------------------------- */
@media (max-width: 720px) {
    .navBar button {
        width: 50px;
        height: 25px;
        margin: 10px;
        padding: 10px;
        font-size: 0.5rem;
        font-weight: bold;
        color: #000000;
        cursor: pointer;
        border-radius: 38px;
        transition: all 0.5s ease-in-out;
        transform: scale(0.8);
    }

    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        height: 8vh;
        background-color: #201663;
    }

    .navBar h1 {
        position: relative;
        right: 98px;
        top: 5px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5rem;
    }
}

/* ---------------------------------------- */
