.MainBox {
  height: 100vh;
  width: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease;
  z-index: 0;
}

.MainBox-Open {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100vh;
    width: 100%;
    transform: translateX(5rem);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;
    z-index: 1;
}

@media screen and (max-width: 768px){
    .MainBox {
        position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.MainBox-Open {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100vh;
    width: 100%;
    z-index: 0;
}
}
