.navBar{
    display: flex;
    /* flex: 1 1 auto; */
    flex-direction: row;
    justify-content: end;
    /* text-align: center; */
    color: white;
    width: 100%;
    color: yellow;
}

.navBar h1{
    position: relative;
    right: 200px;
    top: 15px;
    background-color: blue;
    cursor: pointer;
}