body {
    background-image: url("./imges/ai.jpg");
    opacity: .8;
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    
    /* display: flex; */
    /* height: 100vh; */
}
