body {
    /* background-image: url("./assets/layered-steps-haikei.png"); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* height: 100vh; */
}
