.custom-input {
  width: 200px;
  height: 80px;
  border: 1px solid #ccc;
  padding: 8px;
  outline: none;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(251, 251, 251);;
  margin: 20px 0 0 8px;
  border-radius: 15px;
}

.custom-input[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
}
