
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: auto;
  margin-top: 50px;
}

.enterText {
  color: blue;
  height: 20vh;
  width: 30%;
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 2px;
    /* You can add more styles as needed */ 
  &:empty:before {
    content: 'Enter some text here...';
    color: #999; 
  }
}


.circular-button {
  width: 40px;
  height: 40px;
  background-color: #4CAF50; /* Green color */
  color: #fff; /* White text color */
  border-radius: 50%; /* Make it circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 50px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.circular-button:hover {
  background-color: aqua;
  transform: scale(1.1);
}

.circular-button::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -40px;
  left: 80%;
  font-size: 10px;
  transform: translateX(-10%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.circular-button:hover::before {
  opacity: 1;
}




