h1{
    color: rgb(245, 241, 241);
    font-size: large;
}

.song-img{
    width: 60%;
    height: auto;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.song-img:hover{
    transform: scale(1.1);
}

.song-img img{
    width: 50%;
    height: auto;
}