h1{
    color: red;
    font-size: large;
}

.song-img{
    width: 30%;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px #8c2121;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.song-img:hover{
    transform: scale(1.1);
}